/* src/components/Header.css */
.header-div {
  width: 80%;
  margin: 0 auto;
}

.header-div.not-home {
  background-color: #fff; /* Optional background color for non-home */
}

.header-div.not-home .header-top .search-box {
  border-bottom: 2px solid #000; /* Underline search box */
}

.header-div.not-home .search-icon {
  filter: invert(0); /* Normal search icon color */
}

.header-div.not-home .logo img {
  filter: invert(0); /* Invert logo */
}

.header-div.not-home .icons {
  color: #000; /* Change user and cart icons to black */
}

.header-div.not-home .header-bottom ul li a {
  color: #000; /* Change user and cart icons to black */
}

.header-bottom ul li a {
  color: #000; /* Nav links color */
  transition: color 0.3s ease;
}

.header-bottom ul li a:hover {
  color: #999; /* Hover color for nav links */
}

.header-div:hover {
  background-color: #fff;
  color: #000;
  width: 100%;
  transition: 0.5s ease;
}

.header-div:hover .header-bottom ul li a,
.header-div:hover .icons {
  color: #000;
}

.header-div:hover .search-box {
  border-bottom: 2px solid #000;
}

.header-div:hover .logo img {
  filter: invert(0);
}

.header-top {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
}

.search-icon {
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
}

.logo img {
  filter: invert(1);
  height: 30px;
}
.logo:hover {
  cursor: pointer;
}

.icons {
  color: #fff;
  display: flex;
  gap: 15px;
}

.icons:hover {
  color: #ff0000;
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.header-bottom {
  padding: 10px 0;
}

.header-bottom ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
}

.header-bottom ul li {
  display: inline-block;
}

.header-bottom ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  transition: color 0.3s ease;
}

.header-bottom ul li a:hover {
  color: #999;
  border-bottom: 1px solid #999;
}
